.absolute{
    position: absolute;
    left: 0px;
    top: 0px;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 4%;
    box-sizing: border-box;
    height: 12vh;
    z-index: 2;
    &>a{
        width: 22%;
        img{
            width: 100%;
        }
    }
    .tabs{
        width: 35%;
        position: relative;
        display: flex;
        justify-content: space-around;
        height: 70%;
        a, &>img{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15%;
            padding: 2%;
            box-sizing: border-box;
            transition-duration: 0.2s;
            object-fit: contain;
            img{
                width: 80%;
                transition-duration: 0.2s;
            }
            &:hover{
                img{
                    margin-bottom: 10px;
                }
            }
        }
        &>img{
            cursor: pointer;
            height: 100%;
        }
    }
}