<!-- Header type orange -->
<header [ngClass]="{'absolute': colorType == true, 'orange': colorType == false}">
    <a href="/"><img [src]="colorType? 'assets/imgs/header/header-name-o.png':'assets/imgs/header/header-name-w.png'" alt=""></a>
    <div class="tabs" [ngStyle]="!authStatus ? { 'justify-content': 'end', 'flex-direction': 'row-reverse' } : {}">
        <div class="authReg" *ngIf="!authStatus">
            <p (click)="showForm('reg')">Registration</p>
            <p>/</p>
            <p (click)="showForm('log')">Login</p>
        </div>
        <a href="" *ngIf="authStatus">
            <img src="assets/imgs/header/tab1.png" alt="">
        </a>
        <a href="" *ngIf="authStatus">
            <img src="assets/imgs/header/tab2.png" alt="">
        </a>
        <a href="">
            <img src="assets/imgs/header/tab3.png" alt="">
        </a>
        <a href="" *ngIf="authStatus">
            <img src="assets/imgs/header/tab4.png" alt="">
        </a>
        <div class="toggleRightAside" *ngIf="authStatus">
            <img src="assets/imgs/header/menu.png" alt="" (click)="toggleMenu()">
            <ul [ngStyle]="{'right': toggleMenuStatus? '-5vw': 'calc(-27vw)'}">
                <li>
                    <a routerLink="/user/dashboard">DashBoard</a>
                </li>
                <li>
                    <a routerLink="/user/estate-form">Create Estate</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<app-regLog class="hide" [ngClass]="{'show': showForms}" *ngIf="!authStatus" (correctSub)="authFlag($event)" (hideForms)="hideForms()"></app-regLog>