<footer #section>
    <div class="footer-lists">
        <img src="/assets/imgs/header/header-name-w.png" alt="">
        <div class="col">
            <ul>
                <li><a href="">About Us</a></li>
                <li><a href="">Frequently asked questions</a></li>
                <li><a href="">Industry news</a></li>
                <li><a href="">Press room</a></li>
                <li><a href="">Configurar cookies</a></li>
            </ul>
            <hr>
            <ul>
                <li><a href="">Login</a></li>
                <li><a href="">Registration</a></li>
                <li><a href="">Free advertise</a></li>
                <li><a href="">Habitaclia alerts</a></li>
                <li><a href="">Frequently asked questions</a></li>
                <li><a href="">Work with us</a></li>
                <li><a href="">Configurar cookies</a></li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li><a href="">Search in habitaclia</a></li>
                <li><a href="">New build</a></li>
                <li><a href="">Second hand</a></li>
                <li><a href="">Rentals</a></li>
                <li><a href="">Frequently asked questions</a></li>
                <li><a href="">Search by Keywords</a></li>
                <li><a href="">Flats Bancs</a></li>
                <li><a href="">Financing</a></li>
                <li><a href="">Costs calculation</a></li>
                <li><a href="">Tax savings</a></li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li><a href="">Professional</a></li>
                <li><a href="">Advertise</a></li>
                <li><a href="">Your website</a></li>
                <li><a href="">Access</a></li>
                <li><a href="">Academy</a></li>
            </ul>
        </div>
    </div>
</footer>