$size-index: calc(1vw + 1vh);
section{
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 240, 240);
    header{
        width: 100%;
        height: 12%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5%;
        box-sizing: border-box;
        h2{
            margin: 0px;
            font-size: calc($size-index * 1.5);
            font-weight: 300;
        }
        .btns{
            display: flex;
            align-items: center;
            p{
                cursor: pointer;
                color: rgb(255, 102, 0);
                margin: 0px;
                text-transform: capitalize;
                margin: 0px 20px;
                font-size: calc($size-index * 1.1);
                transition-duration: 0.5s;
                padding: 10px 20px;
                user-select: none;
            }
            .selected-category{
                cursor: auto;
                background-color: white;
                border-radius: 10px;
                color: black;
            }
        }
    }
    .ads{
        width: 75%;
        height: 88%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        article{
            width: 28%;
            height: 45%;
            margin: 1%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
            transition-duration: 0.5s;
            
            .img{
                height: 60%;
                width: 100%;
                background-size: cover;
                background-position: center;
                position: relative;
                p{
                    width: 50%;
                    position: absolute;
                    left: 0px;
                    bottom: 10px;
                    margin: 0px;
                    background-color: rgb(255, 102, 0);
                    color: white;
                    font-size: calc($size-index * 0.9);
                    border-radius: 0px 10px 10px 0px;
                    padding: 5px 0px;
                    text-align: center;
                    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.761);
                }
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            .des{
                width: 90%;
                h3{
                    margin: 0px;
                    margin-top: 5px;
                    color: rgb(255, 102, 0);
                }
                p{
                    margin: 0px;
                }
                flex-grow: 2;
            }
            &>p{
                width: 90%;
                margin: 10px 0px;
                color: lightgray;
            }
        }
    }
}
.show-article{
    transition: opacity 0.5s ease-in;
}
.hide{
    opacity: 0;
    user-select: none;
    pointer-events: none;
}
