<app-search-block #section></app-search-block>
<section #section> 
    <header>
        <h2>Latest ads</h2>
        <div class="btns">
            <p (click)="changeCategory('buy')" [ngClass]="{'selected-category': category === 'buy'}">buys</p>
            <p (click)="changeCategory('rent')" [ngClass]="{'selected-category': category === 'rent'}">rent</p>
            <p (click)="changeCategory('new')" [ngClass]="{'selected-category': category === 'new'}">new construction</p>
        </div>
    </header>
    <div class="ads">
        <article *ngFor="let item of showAds" class="show-article" [ngClass]="{'hide': changes === true}">
            <div class="img" [style.background-image]="'url('+item.img+')'">
                <p>€ {{item.price.toLocaleString('en-US')}}</p>
                <a href=""></a>
            </div>
            <div class="des">
                <h3>{{item.title}}</h3>
                <p>{{item.square}} m2 - {{item.rooms}} bedrooms.</p>
            </div>
            <p>Update {{item.updateTime}}</p>
        </article>
    </div>
</section>